<div class="container">
  <div style=" text-align: center;">
    <h1>Lista de Departamentos</h1>
  </div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.NDepartment}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="province">
    <th mat-header-cell *matHeaderCellDef> provincia </th>
    <td mat-cell *matCellDef="let element"> {{element.NDepartment.province}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
            [routerLink]="['modificar', element?.id]">Actualizar</button>
        <button mat-raised-button color="accent" (click)="confirmar(element.id)">Eliminar</button>
    </td>
</ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<div class="example-button-container">

  <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon"
    routerLink="/department/new">
    <mat-icon>plus_one</mat-icon>
  </button>
</div>
